.form {
  display: flex;
  border: solid 4px var(--second-color);
  border-radius: 4px;
  flex-direction: column;
  width: 30rem;
  padding: 3rem;
  align-items: center;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.form__user {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 18rem;
}

.form__label {
  text-align: center;
}

.form__input {
  padding: 0.5rem;
  border-radius: 4px;
  border: var(--primary-color) solid 2px;
}

.form__submit {
  padding: 1rem;
  width: 6rem;
  align-self: center;
  background: none;
  border: var(--primary-color) solid 2px;
  border-radius: 4px;
  background: var(--third-color);
  color: white;
  font-weight: 600;
  letter-spacing: .1rem;
}
